@import "../common/mixin.scss";
section#accountDataStatisticsPage{
  .countGrid>.dataTable{
    border:none;
    tr{
      background-color: #f9f9f9;
      >td{
        font-size: 16px;
        line-height: 20px;
      }
      >td:nth-child(even){
        background-color: #fdfdfd;
      }
    }
  }
}