@import "../common/mixin.scss";
section#clubBriefDetailPage{

  div#clubBriefForm{
    &>div.item{
      &>label{
        width:80px;
      }
      &>input{
        width:600px;
      }
    }

    div.img{
      position: relative;
      height:260px;
      border:1px dotted #ddd;
      border-radius: 4px;
      margin-left:86px;
      width:84%;
      padding:0;
      &>a{
        position: absolute;
        display: block;
        width:140px;
        height:50px;
        top:50%;
        left:50%;
        margin-top:-25px;
        margin-left:-70px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 4px;
        cursor: pointer;
        background-color: #f9f9f9;
        @include transition(all 0.3s);
        &:hover{
          background-color: $highlightColor;
          color:#fff;
          border-color:$highlightColor;
        }
      }
      &>img{
        position: absolute;
        width:380px;
        height:260px;
        top:0;
        left:0;
        display: none;
      }
      &.hasImg{
        &>a{
          display: block;
          visibility: hidden;
          left:70px;
          top:24px;
          height:100%;
          width:100%;
          background-color: rgba(0,0,0,0.15);
          color:#fff;
          line-height: 260px;
          text-align: center;
          border-color:#ddd;
        }
        &:hover{
          &>a{
            visibility: visible;
            text-decoration: underline;
          }
        }
      }
    }

    div.detail{
      &>label{
        float: left;
      }
      &>textarea{
        float: left;
        width:602px;
        min-height:400px;
      }
      &>div.ke-container{
        width:602px;
        min-height:400px;
      }
    }
  }

  div.ope{
    margin-top:15px;
    border:1px solid #ddd;
    border-radius: 4px;
    @include ty(0 5px 5px rgba(0,0,0,.05));
    padding:20px 20px 20px 95px;
    &>a{
      padding: 8px 22px;
      border: 1px solid #eee;
      border-radius: 4px;
      cursor: pointer;
      margin-right:15px;
      @include transition(all 0.3s);
      &.cancel{
        background-color: #fff;
        color: #999;
        &:hover{
          background-color: #f9f9f9;
          color:#666;
          border-color:#ddd;
        }
      }
      &.ok{
        background-color: $highlightColor;
        color:#fff;
        border-color: $highlightColor;
        &:hover{
          background-color: $themeColor;
          border-color: $themeColor;
        }
      }
    }
  }
  div#uploadImgModal>div{
    margin-top:8%;
    div.content{
      @include transition(padding-bottom 0.3s);
      form{
        &>div{
          position: relative;
          height:300px;
          margin:10px;
          border:1px dotted #ddd;
          border-radius: 4px;
          &>img{
            //position: absolute;
            max-width: 100%!important;
          }
          &>a{
            position: absolute;
            display: block;
            width:140px;
            height:50px;
            top:50%;
            left:50%;
            margin-top:-25px;
            margin-left:-70px;
            line-height: 50px;
            text-align: center;
            border: 1px solid #eee;
            border-radius: 4px;
            cursor: pointer;
            background-color: #f9f9f9;
            @include transition(all 0.3s);
            &:hover{
              background-color: $highlightColor;
              color:#fff;
              border-color:$highlightColor;
            }
          }
          #uploadImgBtn{
            position: absolute;
            display: block;
            width:140px;
            height:50px;
            top:50%;
            left:50%;
            margin-top:-25px;
            margin-left:-70px;
            opacity: 0;
          }
          &>span.selectionTxt{
            display: none;
            position: absolute;
            bottom:0;
            right:0;
            color:#fff;
            background-color: rgba(0,0,0,0.5);
            padding:4px 6px;
            font-size:12px;
            &>b{
              font-weight: normal;
              margin-left:5px;
              &:first-child{
                margin-left:0;
              }
            }
          }
        }
      }
      &.hasImg{
        padding-bottom:50px;
        &>form>div{
          &>a,&>#uploadImgBtn{
            top:100%;
            margin-top:5px;
          }
        }
      }
    }
  }
}