@import "../common/mixin.scss";
section#clubActivityPage{
  ul.list{
    position: relative;
    border:1px solid #eee;
    border-radius: 4px;
    padding:10px 0;
    &>li{
      position: relative;
      float: left;
      width:25%;
      height:390px;
      &>div{
        position: absolute;
        top:10px;
        left:50%;
        margin-left:-175px;
        width:330px;
        height:350px;
        padding:10px;
        overflow-y: hidden;
        @include ty(0 1px 3px rgba(0,0,0,.2));
        cursor: move;
        &>i{
          position: absolute;
          display: block;
          width:89px;
          height:76px;
          left:-5px;
          top:-5px;
          z-index:5;
          background: url("../../../img/act/downline.png") no-repeat;
        }
        &>h3{
          position: relative;
          font-size:18px;
          font-weight: bold;
          line-height: 36px;
          border-bottom:1px solid #ddd;
        }
        &>img{
          width:330px;
          height:150px;
          border:1px solid #eee;
          margin-top:5px;
          margin-bottom:5px;
        }
        &>div{
          height:32px;
          line-height: 32px;
          border-bottom:1px dotted #ddd;
          &>label{
            font-weight: bold;
          }
        }
        &>p{
          padding:5px;
          line-height: 28px;
        }
        &>a{
          display: none;
          position: absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          background-color: rgba(0,0,0,0.4);
          border-radius: 2px;
        }
        &>ul{
          position: absolute;
          top:0;
          right:0;
          display: none;
          background-color: rgba(255,255,255,0.5);
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          &>li{
            width:80px;
            height:35px;
            text-align: center;
            line-height: 35px;
            cursor: pointer;
            &:hover{
              color:#ff6666;
              text-decoration: underline;
            }
          }
          &.active{
            display: block;
          }
        }
        &:hover{
          &>a,&>ul{
            display: block;
          }
        }
      }
    }
  }
  div.title{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom:15px;
    @include ty(0 5px 5px rgba(0,0,0,.05));
    padding:15px;
    &>a{
      padding: 6px 8px;
      text-align: center;
      border: 1px solid #eee;
      border-radius: 4px;
      cursor: pointer;
      background-color: #f9f9f9;
      @include transition(all 0.3s);
      &:hover{
        background-color: $highlightColor;
        color:#fff;
        border-color:$highlightColor
      }
    }
  }
  div.noData{
    height:300px;
    line-height: 300px;
    text-align: center;
    border:1px solid #ddd;
    border-radius: 4px;
  }

  div.confirmModal>div>div.content{
    font-size:16px;
    line-height: 80px;
    padding-left:40px;
    font-weight: bold;
  }

  div#editActivityModal{
    &>div{
      width:650px;
      margin-top:8%;
    }
    @include transition(padding-bottom 0.3s);
    form{
      &>div.img{
        position: relative;
        height:250px;
        margin:10px;
        border:1px dotted #ddd;
        border-radius: 4px;
        &>img{
          //position: absolute;
          max-width: 100%!important;
        }
        &>a{
          position: absolute;
          display: block;
          width:140px;
          height:50px;
          top:50%;
          left:50%;
          margin-top:-25px;
          margin-left:-70px;
          line-height: 50px;
          text-align: center;
          border: 1px solid #eee;
          border-radius: 4px;
          cursor: pointer;
          background-color: #f9f9f9;
          @include transition(all 0.3s);
          &:hover{
            background-color: $highlightColor;
            color:#fff;
            border-color:$highlightColor;
          }
        }
        &>span.selectionTxt{
          display: none;
          position: absolute;
          bottom:0;
          right:0;
          color:#fff;
          background-color: rgba(0,0,0,0.5);
          padding:4px 6px;
          font-size:12px;
          &>b{
            font-weight: normal;
            margin-left:5px;
            &:first-child{
              margin-left:0;
            }
          }
        }
        #uploadImgBtn{
          position: absolute;
          display: block;
          width:140px;
          height:50px;
          top:50%;
          left:50%;
          margin-top:-25px;
          margin-left:-70px;
          opacity: 0;
        }
      }
      &>textarea{
        display: none;
      }
      &>div.item{
        border-top:1px dotted #ddd;
        line-height: 35px;
        margin-left:12px;
        margin-right:12px;
        padding:3px 0;
        &>label{
          display: inline-block;
          width:100px;
          text-align: right;
          font-weight: bold;
        }
        &>input{
          padding:4px 5px;
          width:450px;
        }
        &.rules{
          &>label{
            float: left;
          }
          &>div{
            float: left;
            width:445px;
            min-height:50px;
            max-height: 150px;
            overflow: auto;
            padding:4px 8px;
            line-height: 27px;
            border-radius: 4px;
            background-color: #fff;
            border: 1px solid #ddd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            &:focus{
              border-color:#0099ff;
              outline: 0;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) , 0 0 8px rgba(0,153,255,0.6);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) , 0 0 8px rgba(0,153,255,0.6);
            }
          }
        }
      }
      &.hasImg{
        &>div.img{
          margin-bottom:60px;
          &>a,&>input#uploadImgBtn{
            top:100%;
            margin-top:5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1670px){
  section#clubActivityPage{
    ul.list>li{
      width:33.3%
    }
  }
}

@media screen and (max-width:1300px){
  section#clubActivityPage{
    ul.list>li{
      width:50%
    }
  }
}

@media screen and (max-width:970px){
  section#clubActivityPage{
    ul.list>li{
      width:100%
    }
  }
}