@import "../common/mixin.scss";
section.dataStatisticsChart{
  div.dataTable{
    tbody>tr>td{
      font-weight: bold;
      line-height: 50px;
      font-size:22px;
      &.total{
        position: relative;
        font-size:32px;
        color:#ff6666;
        &>a{
          position: absolute;
          right:10px;
          bottom:8px;
          font-size:14px;
          font-weight: normal;
          &:hover{
            text-decoration: underline;
            color:#ff6666;
          }
        }
      }
      &>span{
        font-size:15px;
        margin-left:5px;
      }
    }
    tbody.noData>tr>td{
      font-size:15px;
      font-weight: normal;
      color:#ff6666;
    }
    div.sizeOption>select{
      padding:4px 5px !important;
    }
  }
  div.chartGroup{
    margin-top:15px;
    border:1px solid #ddd;
    border-radius: 4px;
    padding:10px;
    &>div.tool{
      padding-bottom:10px;
      border-bottom:1px dotted #ddd;
      a.btn{
        display: inline-block;
        width:55px;
        height:24px;
        line-height: 24px;
        padding:4px 8px;
        text-align: center;
        border:1px solid #eee;
        border-radius: 4px;
        margin-right:15px;
        cursor: pointer;
        background-color: #f9f9f9;
        @include transition(all 0.3s);
        &:hover,&.active{
          background-color: $highlightColor;
          border-color:$highlightColor;
          color:#fff;
        }
      }
      &>div{
        float: right;
        &>a.btn{
          width:30px;
          margin-right:8px;
        }
        &>input{
          width:230px;
          padding:6px 6px;
        }
      }
    }
    &>div.chart{
      padding-top:10px;
      height:500px;
    }
  }

  div.linkGroup{
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:20px;
    &>a{
      padding: 8px 15px;
      border: 1px solid #eee;
      border-radius: 4px;
      margin-right:15px;
      cursor: pointer;
      background-color: #f9f9f9;
      @include transition(all 0.3s);
      &:hover{
        color:#fff;
        background-color: $highlightColor;
        border-color:$highlightColor;
      }
    }
  }
}