@import "../common/mixin.scss";
section#editOrdinaryCouponPage{
  div.formGroup{
    div.couponType{
      &>label{
        float: left;
      }
      &>div{
        float: left;
        position: relative;
        padding-left:25px;
        margin-right:20px;
        cursor: pointer;
        &>i{
          position: absolute;
          display: block;
          width:21px;
          height:21px;
          left:0;
          top:0;
          background: url("../../../img/common/radio.png?base64");
        }
        &.active{
          &>i{
            background: url("../../../img/common/radio_act.png?base64");
          }
        }
      }
    }
    div>select{
      padding:4px;
    }

    div.couponEffectDate{
      &>label{
        float: left;
      }
      &>ul{
        float: left;
        &>li{
          position: relative;
          padding:5px 0 5px 30px;
          border-bottom: 1px dotted #ddd;
          cursor: pointer;
          &>i{
            position: absolute;
            display: inline-block;
            width:21px;
            height:21px;
            left:0;
            top:6px;
            background: url("../../../img/common/radio.png?base64");
          }
          &>input{
            width:230px;
          }
          &>input,&>select{
            padding:4px;
          }
          &>select,&>span{
            margin-left:5px;
          }
          &:first-child{
            padding-top:0
          }
          &:last-child{
            border-bottom-width: 0;
            padding-bottom: 0;
            &>i{
              top:9px;
            }
          }
          &.active{
            &>i{
              background: url("../../../img/common/radio_act.png?base64");
            }
          }
        }
      }
    }

    div.useTime{
      &>label{
        float: left;
      }
      &>div{
        float: left;
        &>span{
          position: relative;
          margin-right:10px;
          padding-left:20px;
          cursor: pointer;
          &>i{
            position: absolute;
            left:0;
            top:0;
            display: inline-block;
            width:16px;
            height:16px;
            margin-right:4px;
            background: url("../../../img/message/checkbox.png?base64");
          }
          &.active{
            &>i{
              background: url("../../../img/message/checkbox-checked.png?base64");
            }
          }
        }
        &>select:last-child{
          margin-right:6px;
        }
      }
    }

    div.useDesc{
      position: relative;
      padding-left:135px;
      &>label{
        position: absolute;
        left:0;
      }
      &>div{
        min-height:50px;
        padding:8px 15px;
        line-height: 30px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        &:focus{
          border-color:#0099ff;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) , 0 0 8px rgba(0,153,255,0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) , 0 0 8px rgba(0,153,255,0.6);
        }
      }
      &>div#actContent{
        background-color: #f0f0f0;
        border-width:0;
      }
    }

    div.sellStyle{
      position: relative;
      padding-left:135px;
      &>label{
        position: absolute;
        left:0;
      }
      &>ul{
        &>li{
          padding:5px 0;
          border-bottom:1px dotted #ddd;
          &>span{
            display: block;
            position: relative;
            padding-left:30px;
            cursor: pointer;
            &>i{
              position: absolute;
              display: block;
              width:21px;
              height:21px;
              left:0;
              top:0;
              background: url("../../../img/common/radio.png?base64");
            }
          }
          &>div{
            margin-top:10px;
            background-color: #f0f0f0;
            padding:10px;
            border-radius: 4px;
            &>div{
              padding:4px 0;
              &>input{
                padding:3px 4px;
                margin-right:4px;
              }
              &>b{
                margin-right:5px;
              }
              &>span{
                display: inline-block;
                width:80px;
                text-align: right;
              }
              &.tip{
                &:after{
                  content : "\200B";
                  display : block;
                  height : 0;
                  clear : both;
                }
                &>span{
                  float: left;
                }
                &>ul{
                  float: left;
                  &>li{
                    line-height: 32px;
                  }
                }
              }
            }
          }
          &.active{
            &>span>i{
              background: url("../../../img/common/radio_act.png?base64");
            }
          }
          &:first-child{
            padding-top:0;
          }
          &:last-child{
            padding-bottom: 0;
            border-bottom-width:0;
          }
        }
      }
      &.noEdit{
        &>ul>li>span{
          padding-left: 0;
        }
      }
    }

    div.items{
      position: relative;
      padding-left:135px;
      &>label{
        position: absolute;
        left:0;
      }
      &>ul{
        &>li{
          &>div{
            height:35px;
            line-height: 35px;
          }
          &>ul{
            background-color: #f0f0f0;
            border-radius: 4px;
            padding-left:20px;
            &>li{
              display: inline-block;
              position: relative;
              height:32px;
              line-height: 32px;
              margin-right:15px;
              padding:4px 0 4px 20px;
              cursor: pointer;
              &>i{
                position: absolute;
                display: inline-block;
                width:16px;
                height:16px;
                left:0;
                top:50%;
                margin-top:-8px;
                margin-right:6px;
                background: url("../../../img/message/checkbox.png?base64");
              }
              &.active{
                &>i{
                  background: url("../../../img/message/checkbox-checked.png?base64");
                }
              }
            }
          }
        }
      }
    }

    div.sellDate{
      &>input{
        width:230px;
      }
    }
  }

  div.ope{
    margin-top:15px;
    border:1px solid #ddd;
    border-radius: 4px;
    @include ty(0 5px 5px rgba(0,0,0,.05));
    padding:20px 20px 20px 145px;
    &>a{
      padding: 8px 22px;
      border: 1px solid #eee;
      border-radius: 4px;
      cursor: pointer;
      margin-right:15px;
      @include transition(all 0.3s);
      &.cancel{
        background-color: #fff;
        color: #999;
        &:hover{
          background-color: #f9f9f9;
          color:#666;
          border-color:#ddd;
        }
      }
      &.ok{
        background-color: $highlightColor;
        color:#fff;
        border-color: $highlightColor;
        &:hover{
          background-color: $themeColor;
          border-color: $themeColor;
        }
      }
    }
  }
}