@import "../common/mixin.scss";
section#messageSellGroupDetailPage{

  div.dataTable>table>thead>tr.search>th{
    &>div{
      line-height: 38px;
      &>label{
        font-weight: normal;
      }
      &>a{
        margin-left:5px;
        font-weight: normal;
        color:#666;
        cursor: pointer;
        border:1px solid #efefef;
        border-radius: 4px;
        padding:5px 10px;
        margin-right:5px;
        background-color: #f9f9f9;
        @include transition(all 0.3s);
        &:hover{
          background-color: $highlightColor;
          border-color:$highlightColor;
          color:#fff;
        }
      }
      &>input{
        padding:4px 5px;
      }
    }
    &>div.name{
      float: left;
      margin-left:6px;
    }
    &>div.tel{
      float: right;
      margin-right:6px;
    }
  }

  div#confirmDelTelModal{
    &>div>div.confirmDel{
      font-size:16px;
      line-height: 100px;
      text-indent:60px;
    }
  }

  div#editGroupNameModal{
    &>div>div.content{
      height:30px;
      padding:15px 15px;
      text-align: center;
      &>input{
        height:28px;
        margin-right:8px;
        padding:0 10px;
        width:300px;
      }
    }
  }
}