@import "../common/mixin.scss";
section.paidCouponData{
  div#dataListTable{
    &>table>thead>tr.search>th{
      font-size:14px;
      padding:2px 0;
      &>div{
        &>input{
          padding:4px 8px;
          width:230px;
        }
        &>select{
          padding:4px 5px;
        }
        &>a{
          color: #666;
          cursor: pointer;
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px 10px;
          margin-right: 5px;
          background-color: #f9f9f9;
          font-weight: normal;
          &:hover,&.active{
            background-color: $highlightColor;
            border-color:$highlightColor;
            color:#fff;
          }
        }
      }
      &>div.name{
        float: left;
        margin-left:10px;
        &>input{
          margin-right:5px;
        }
      }
      &>div.time{
        float: right;
        margin-right:10px;
        input#userTelSearch,input#techNameSearch{
          width:180px;
          margin-right:5px;
        }
      }
    }
    &>table>thead>tr>th.header{
      position: relative;
      &>span{
        font-weight: normal;
        font-size:15px;
        letter-spacing: 0;
        position: absolute;
        right:100px;
        &>b{
          font-weight: bold;
          color:#ff6666;
        }
      }
      &>a{
        position: absolute;
        right:6px;
        top:6px;
        letter-spacing: 0;
        color: #666;
        cursor: pointer;
        border: 1px solid #efefef;
        border-radius: 4px;
        padding: 6px 10px;
        margin-right: 5px;
        background-color: #f9f9f9;
        @include transition(all 0.3);
        &:hover{
          color:#fff;
          background-color: $highlightColor;
        }
      }
    }
    th.countGrid{
      padding:10px;
      background-color: #fff;
      td{
        font-weight:normal !important;
        &>b{
          color:#ff6666;
          font-size:18px;
          margin-right:2px;
        }
      }
    }
  }
}