@import "../common/mixin.scss";
section#paidOrderSellPage{
  &>div{
    position: relative;
    height:42px;
    line-height: 42px;
    border-radius: 4px;
    border:1px solid #ddd;
    margin-bottom: 15px;
    padding-left:10px;
    @include ty(0 5px 5px rgba(0,0,0,.05));
    &>label{
      font-weight: bold;
    }
    &>div{
      position: absolute;
      right: 160px;
      height: 26px;
      top: 8px;
      width: 60px;
      background-color: #eee;
      border: 1px solid #eee;
      border-radius: 20px;
      cursor: pointer;
      &>i{
        position: absolute;
        display: block;
        width: 26px;
        height: 26px;
        top: 0;
        right: 33px;
        background-color: #fff;
        border-radius: 50%;
        @include transition(all 0.3s);
      }
      &.active{
        background-color: #fb5549;
        border-color: #fb5549;
        &>i{
          right:0;
        }
      }
    }
    &>span{
      position: absolute;
      right:105px;
      font-weight: bold;
    }
    &>a{
      position: absolute;
      right:12px;
      top:3px;
      letter-spacing: 0;
      color:#666;
      cursor: pointer;
      border:1px solid #efefef;
      border-radius: 4px;
      padding:6px 10px;
      background-color: #f9f9f9;
      @include transition(all 0.3s);
      &:hover{
        background-color: $highlightColor;
        border-color:$highlightColor;
        color:#fff;
      }
    }
  }
  &>h3{
    border:1px solid #ddd;
    border-radius: 4px;
    padding:10px 0;
    height:180px;
    line-height:180px;
    text-align: center;
  }
  &>ul{
    border:1px solid #ddd;
    border-radius: 4px;
    padding:10px 0;
    &>li{
      padding:4px 10px;
      height:35px;
      line-height: 35px;
      border-bottom:1px dotted #ddd;
      &:last-child{
        border-bottom-width:0;
      }
      &>i{
        display: inline-block;
        width:16px;
        height:16px;
        background: url("../../../img/message/checkbox.png?base64");
        &.active{
          background: url("../../../img/message/checkbox-checked.png?base64");
        }
        margin-left:20px;
      }
      &>label{
        display: inline-block;
        width:90px;
        text-align: right;
      }
      &>input,&>select{
        padding:4px 5px;
      }
      &>input{
        padding-left:8px;
      }
      &>span{
        margin-left:5px;
      }
    }
  }
}