$themeColor:#293c55;
$highlightColor:#006699;

@mixin imgBgFix($size){
  -webkit-background-size:$size;
  -moz-background-size:$size;
  -o-background-size:$size;
  background-size:$size;
  background-repeat: no-repeat;
}
@mixin img($url,$size){
  -webkit-background-size:$size;
  -moz-background-size:$size;
  -o-background-size:$size;
  background-size:$size;
  background-image: url($url);
  background-repeat: no-repeat;
}
@mixin jb($xs,$ys,$cs,$xe,$ye,$ce){//渐变颜色
  background:-webkit-gradient(linear, $xs $ys, $xe $ye, from($cs), to($ce));
  background: -moz-linear-gradient(top, $ce $ye, $cs $ys);
}
@mixin ty($s){//投影
  -webkit-box-shadow:$s;
  -moz-box-shadow:$s;
  -ms-shadow:$s;
  -o-shadow:$s;
  box-shadow:$s;
}
@mixin dhqx($fun){
  animation-timing-function: $fun;
  -webkit-animation-timing-function: $fun;
  -moz-animation-timing-function: $fun;
  -ms-animation-timing-function: $fun;
  -o-animation-timing-function: $fun;
}
@mixin dhcs($count){
  animation-iteration-count: $count;
  -webkit-animation-iteration-count: $count;
  -moz-animation-iteration-count: $count;
  -ms-animation-iteration-count: $count;
  -o-animation-iteration-count: $count;
}
@mixin dhyc($time){
  transition-duration: $time;
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -ms-transition-duration: $time;
  -o-transition-duration: $time;
}
@mixin dhtc($time){
  -webkit-animation-delay: $time;
  -moz-animation-delay: $time;
  -ms-animation-delay: $time;
  -o-animation-delay: $time;
  animation-delay: $time;
}
@mixin wy($x,$y,$z){
  -webkit-transform: translate3d($x,$y,$z);
  -moz-transform: translate3d($x,$y,$z);
  -o-transform: translate($x,$y);
  -ms-transform: translate3d($x,$y,$z);
  transform: translate3d($x,$y,$z);
}
@mixin yd($v){
  -webkit-transform-origin: $v;
  -moz-transform-origin: $v;
  -o-transform-origin: $v;
  -ms-transform-origin: $v;
  transform-origin: $v;
}
@mixin dhz($name,$time){
  animation:$name $time;
  -moz-animation:$name $time;
  -webkit-animation:$name $time;
  -o-animation:$name $time;
  -ms-animation:$name $time;
}
@mixin sl(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin slh($line){
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: block-axis;
  word-break: break-all;
}
@mixin rotate($s){
  -webkit-transform: rotate($s);
  -moz-transform: rotate($s);
  -ms-transform: rotate($s);
  transform: rotate($s);
}
@mixin scale($sx,$sy){
  -webkit-transform: scale($sx,$sy);
  -moz-transform: scale($sx,$sy);
  -o-transform: scale($sx,$sy);
  -ms-transform: scale($sx,$sy);
  transform: scale($sx,$sy);
}
@mixin tOrigin($p:center){
  -webkit-transform-origin:$p;
  -moz-transform-origin:$p;
  -ms-transform-origin:$p;
  transform-origin:$p;
}
@mixin transition($content){
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  transition: $content;
}
@mixin boxsizing($s){
  -webkit-box-sizing: $s;
  -moz-box-sizing: $s;
  -ms-box-sizing: $s;
  box-sizing: $s;
}