@import "base.scss";
@import "reset.scss";

.clearfix:after{
  content : "\200B";
  display : block;
  height : 0;
  clear : both;
}

.clearfix {
  *zoom : 1;
}

body{
  background: url("../../../img/public/common/bg.png?base64") repeat;
  &>div.search{
    background-color: #fff;
    &>div{
      width:1000px;
      height:36px;
      line-height: 36px;
      margin:0 auto;
      color:#4d4d4d;
      font-size:14px;
      position: relative;
      &>i.star{
        position: absolute;
        display: block;
        width:16px;
        height:16px;
        top:50%;
        left:0;
        margin-top:-8px;
        background: url("../../../img/public/common/star.png?base64");
      }
      &>span{
        margin-left:20px;
        &:hover{
          color:#428bca;
        }
        &.canClick{
          cursor: pointer;
        }
      }
      &>input{
        position: absolute;
        right:0;
        top:4px;
        height:22px;
        width:260px;
        padding:3px 30px 3px 8px;
        font-size:12px;
        border-radius: 3px;
        border:1px solid #ccc;
        @include boxShadow(inset 0 1px 1px rgba(0,0,0,0.075));
        @include transition(box-shadow 0.30s ease-in-out);
        &:focus{
          border:#87C6F9 1px solid;
          box-shadow: 0 0 5px rgba(103, 166, 217, 1);
        }
      }
      &>i.search{
        position: absolute;
        display: block;
        width:16px;
        height:16px;
        right:7px;
        top:10px;
        background: url("../../../img/public/common/search.png?base64");
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  &>div.wrap{
    position: relative;
    &>div.title{
      background-color: #003d96;
      background: -webkit-gradient(linear,0 0,0 100%,from(#003d96),to(rgba(66,61,192,0.5)));
      background: -moz-linear-gradient(#003d96, rgba(66,61,192,0.5));
      background: -o-linear-gradient(#003d96, rgba(66,61,192,0.5));
      filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=130) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#003d96',endcolorstr='#428bc0',gradientType=0);
      &>div{
        //background: url("../../../img/public/common/bg.jpg") center top no-repeat;
        position: relative;
        width:1000px;
        height:250px;
        margin:0 auto;
        &>div.logo{
          position: absolute;
          top:60px;
          left:0;
          width:452px;
          height:94px;
          color:#000;
          text-align: right;
          //background: url("../../../img/public/common/title.png");
          &>span{
            position: absolute;
            right:7px;
            bottom:9px;
            letter-spacing: 1px;
          }
        }
        &>div.txt{
          position: absolute;
          top:60px;
          right:0;
          width:389px;
          height:136px;
          //background: url("../../../img/public/common/title-txt.png");
        }
        /*&.bgSize{
          -webkit-background-size: 100% 100%;
          -moz-background-size: 100% 100%;
          -ms-background-size: 100% 100%;
          background-size: 100% 100%;
        }*/
      }
    }

    &>div.menu{
      position: absolute;
      width:100%;
      height:60px;
      left:0;
      top:250px;
      background-color: #428bca;
      z-index: 110;
      &.fixed{
        position: fixed;
        top:0;
        background-color: rgba(66,139,206,0.9);
      }
      &>ul{
        width:1000px;
        margin:0 auto;
        &>li{
          width:10.55%;
          float: left;
          font-size:16px;
          line-height: 60px;
          height:60px;
          text-align: center;
          &>a{
            display: block;
            width:100%;
            height:100%;
            color:#fff;
            cursor: pointer;
            @include transition(background-color 0.3s);
          }
          &>ul{
            opacity: 0;
            @include scale(1,0);
            @include tOrigin(50% 0%);
            @include transition(all 0.4s);
            &>li{
              line-height: 40px;
              text-align: left;
              font-size:15px;
              white-space: nowrap;
              padding-left:12px;
              &>a{
                display: block;
                color:#fff;
              }
              &:hover{
                background-color: #be2e0a !important;
                cursor: pointer;
              }
            }
            &.w175>li{
              width:175px;
            }
            &.w110>li{
              width:110px;
            }
            &.w142>li{
              width:142px;
            }
            &.center>li{
              padding-left:0;
              text-align: center;
            }
          }
          &:first-child{
            width:5%;
          }
          &.active{
            &>a{
              background-color: rgba(23,87,157,0.9);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E517579D,endColorstr=#E517579D);
            }
            &>ul{
              opacity: 1;
              @include scale(1,1);
              &>li{
                background-color: rgba(23,87,157,0.9);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E517579D,endColorstr=#E517579D);
              }
            }
          }
        }
      }
      &.compatible{
        &>ul{
          &>li{
            &>ul{
              display: none;
            }
            &.active{
              &>ul{
                display: block;
              }
            }
          }
        }
      }
    }

    &>div.content{
      width:970px;
      margin:80px auto 0;
      background-color: #fcfcfc;
      border:1px solid #ddd;
      //@include boxShadow(0 0 10px rgba(0, 0, 0, 0.3) inset );
      //border-radius: 4px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      border-radius: 6px;
      @include boxShadow(0px 8px 12px rgba(0, 0, 0, 0.2));
      padding:12px 15px;
    }

    &>div.footer{
      margin-top:40px;
      //background-color: #f5f5f5;
      &>ul{
        display: block;
        width:882px;
        margin:0 auto;
        font-size:15px;
        &:after {
          content: "\200B";
          display: block;
          height: 0;
          clear: both;
        }
        &>li{
          position: relative;
          float: left;
          z-index:999;
          margin:30px 15px 15px 0;
          display: inline-block;
          padding-right:27px;
          &.last{
            margin-right:0;
          }
          &>span{
            padding:6px 12px;
            border: 1px solid #ccc;
            border-radius: 4px 0 0 4px;
            background-color: #fff;
          }
          &>i{
            display: inline-block;
            position: absolute;
            top:-7px;
            right:0;
            width:26px;
            border: 1px solid #ccc;
            border-radius: 0 4px 4px 0;
            background-color: #fff;
            padding:6px 0;
            &:hover{
              cursor: pointer;
              background-color: #eee;
            }
            &:before{
              position: absolute;
              display: block;
              width:0;
              height:0;
              top:6px;
              left:6px;
              border:6px solid transparent;
              border-bottom:6px solid #6d6d6d;
              content: "\200B";
            }
            &:after {
              content: "\200B";
            }
          }
          &>ul{
            position: absolute;
            left:0;
            bottom:32px;
            background-color: #fff;
            max-height:400px;
            overflow-y: auto;
            overflow-x: hidden;
            width:100%;
            border:1px solid #ccc;
            border-radius: 4px;
            opacity: 0;
            @include scale(1,0);
            @include tOrigin(50% 100%);
            @include transition(all 0.5s);
            &.active{
              opacity: 1;
              @include scale(1,1);
            }
            &>li{
              line-height: 32px;
              &>a{
                display: block;
                height: 100%;
                color:#4d4d4d;
                padding:0 8px;
                white-space: nowrap;
                &:hover{
                  background-color: #428bca;
                  color:#fff;
                }
              }
            }
          }
        }
      }
      &>div{
        padding:10px 0 5px;
        text-align: center;
        font-size:14px;
        line-height: 28px;
        &.info{
          padding-top:0;
          &>a{
            color:#4d4d4d;
            &:hover{
              text-decoration: underline;
              color:#428bca;
            }
            &>img{
              margin-top:4px;
              margin-right:5px;
            }
          }
        }
      }
      &.compatible{
        &>ul{
          &>li{
            &>ul{
              display: none;
              &.active{
                display: block;
              }
            }
          }
        }
      }
    }
  }

  &>ul.sideBar{
    position: fixed;
    width:58px;
    right:20px;
    bottom:25px;
    z-index: 999;
    &>li{
      position: relative;
      padding:8px;
      background-color:#17579d;
      background-color: rgba(23,87,157,0.8);
      margin-top:1px;
      height:32px;
      line-height:16px;
      &>div{
        display: none;
        position: absolute;
        right:80px;
        background-color:#428bca;
        background-color: rgba(23,87,157,0.8);
        padding:8px;
        font-size:14px;
        @include boxShadow(0 5px 12px rgba(0,0,0,.2));
        &:before{
          display: block;
          content: "";
          width:0;
          height:0;
          position: absolute;
          top:70%;
          right:-18px;
          border:8px solid transparent;
          border-left:10px solid rgba(23,87,157,0.8);
        }
      }
      &>i{
        display: block;
        margin:0 auto;
        width:32px;
        height:100%;
      }
      &>span{
        display: none;
        width:32px;
        height:32px;
        color:#fff;
        font-size:14px;
        letter-spacing: 2px;
        text-align: center;
        margin:0 auto;
      }
      &.qrCode{
        &>i{
          background-image: url("../../../img/public/common/qrCode.png?base64");
        }
        &>div{
          width:112px;
          height:112px;
          top:-80px;
          &>div{
            width:100%;
            height:100%;
            background-image: url("../../../img/public/common/qrCodeImg.png");
          }
        }
      }
      &.weibo>i{
        background-image: url("../../../img/public/common/weibo.png?base64");
      }
      &.tel{
        &>i{
          background-image: url("../../../img/public/common/tel.png?base64");
        }
        &>div{
          width:195px;
          height:60px;
          top:-30px;
          line-height: 30px;
          color:#fff;
          a{
            color:#fff;
          }
          &>div:first-child{
            border-bottom: 1px solid #888;
          }
          &:before{
            top:60%;
          }
        }
      }
      &.mail{
        &>i{
          background-image: url("../../../img/public/common/mail.png?base64");
        }
        a{
          color:#fff;
        }
      }
      &.up{
        display: none;
        &>i{
          background-image: url("../../../img/public/common/up.png?base64");
        }
      }
      &:hover{
        cursor: pointer;
        &>i{
          display: none;
        }
        &>span{
          display: block;
        }
        &>div{
          display: block;
        }
      }
    }

    &.active{
      &>li.up{
        display: block;
      }
    }
  }
  &>div.tipShow{
    position: absolute;
    display: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    text-align: center;
    z-index: 9999;
    letter-spacing: 3px;
    &>span{
      color:#ff6600;
      font-size:38px;
      background-color: #ccc;
      border-radius: 12px;
      padding:20px 36px;
      @include boxShadow(0 0 10px rgba(0, 0, 0, 0.3));
    }
    &.active{
      display: block;
    }
  }
}

/////////////////////////////////////////////760
@media screen and (max-width:1000px) {
  body{
    &>div.search>div{
      width:750px;
    }
    &>div.wrap{
      &>div.title>div{
        width:750px;
        &>div.txt{
          opacity: 0.25;
        }
      }
      &>div.menu{
        height:120px;
        top:210px;
        &>ul{
          width:750px;
          &>li{
            width: 150px;
            &:first-child{
              width:150px;
            }
            &>ul{
              &.w110>li{ width: 100%; text-align: center; padding-left: 0; }
            }
          }
        }
      }
      &>div.content{
        width:710px;
      }
      &>div.footer{
        &>ul{
          width:750px;
          &>li{
            margin-right:18px;
            &:nth-of-type(1){
              margin-left:180px;
            }
            &:nth-of-type(2){
              margin-right:120px;
            }
            &:nth-of-type(3){
              margin-left:110px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:749px) {
  body{
    &>div.search>div{
      width:650px;
    }
    &>div.wrap{
      &>div.title>div{
        width:650px;
      }
      &>div.menu{
        &>ul{
          width:650px;
          &>li{
            width: 130px;
            &:first-child{
              width:130px;
            }
          }
        }
      }
      &>div.content{
        width:610px;
      }
      &>div.footer{
        &>ul{
          width:650px;
          &>li{
            margin-right:18px;
            &:nth-of-type(1){
              margin-left:140px;
            }
            &:nth-of-type(2){
              margin-right:120px;
            }
            &:nth-of-type(3){
              margin-left:80px;
            }
          }
        }
      }
    }
    &>ul.sideBar{
      display: none;
    }
  }
}

@media screen and (max-width:649px) {
  body{
    &>div.search>div{
      width:470px;
      &>i.star,&>span.canClick{
        display: none;
      }
      &>span{
        margin-left:5px;
      }
    }
    &>div.wrap{
      &>div.title>div{
        width:470px;
        &>div.txt{
          opacity: 0.1;
        }
      }
      &>div.menu{
        height:180px;
        &>ul{
          width:470px;
          &>li{
            width: 156px;
            &:first-child{
              display: none;
            }
          }
        }
      }
      &>div.content{
        margin-top:150px;
        width:430px;
      }
      &>div.footer{
        &>ul{
           display: none;
        }
      }
    }
  }
}

@media screen and (max-width:479px) {
  body{
    &>div.search>div{
      width:404px;
      &>i.star,&>span.canClick{
        display: none;
      }
      &>span{
        margin-left:2px;
      }
      &>input#search-input{
        width:190px;
      }
    }
    &>div.wrap{
      &>div.title>div{
        width:404px;
        &>div.logo{
          left:-30px;
          @include scale(0.8,0.8)
        }
      }
      &>div.menu{
        height:180px;
        &>ul{
          width:404px;
          &>li{
            width: 134px;
            &:first-child{
              display: none;
            }
          }
        }
      }
      &>div.content{
        padding-left:10px;
        padding-right:10px;
        margin-top:150px;
        width:384px;
      }
    }
  }
}

//////////////375
@media screen and (max-width:413px) {
  body{
    &>div.search>div{
      width:365px;
      &>i.star,&>span.canClick{
        display: none;
      }
      &>span{
        margin-left:2px;
      }
      &>input#search-input{
        width:155px;
      }
    }
    &>div.wrap{
      &>div.title>div{
        width:365px;
        &>div.logo{
          left:-48px;
          @include scale(0.7,0.7)
        }
      }
      &>div.menu{
        height:180px;
        &>ul{
          width:365px;
          &>li{
            width: 121px;
            &:first-child{
              display: none;
            }
          }
        }
      }
      &>div.content{
        padding-left:10px;
        padding-right:10px;
        margin-top:150px;
        width:345px;
      }
    }
  }
}

//////////////360
@media screen and (max-width:374px) {
  body{
    &>div.search>div{
      width:350px;
      &>i.star,&>span.canClick{
        display: none;
      }
      &>span{
        margin-left:2px;
      }
      &>input#search-input{
        width:145px;
      }
    }
    &>div.wrap{
      &>div.title>div{
        width:350px;
        &>div.logo{
          left:-55px;
          @include scale(0.7,0.7)
        }
      }
      &>div.menu{
        height:180px;
        &>ul{
          width:350px;
          &>li{
            width: 116px;
            &:first-child{
              display: none;
            }
          }
        }
      }
      &>div.content{
        padding-left:10px;
        padding-right:10px;
        margin-top:150px;
        width:330px;
      }
    }
  }
}

//////////////320
@media screen and (max-width:359px) {
  body{
    &>div.search>div{
      width:310px;
      &>i.star,&>span.canClick{
        display: none;
      }
      &>span{
        font-size:12px;
        margin-left:2px;
      }
      &>input#search-input{
        width:125px;
      }
    }
    &>div.wrap{
      &>div.title>div{
        width:310px;
        &>div.logo{
          left:-75px;
          @include scale(0.65,0.65)
        }
      }
      &>div.menu{
        height:180px;
        top:198px;
        &>ul{
          width:310px;
          &>li{
            font-size:15px;
            width: 103px;
            &:first-child{
              display: none;
            }
            &>ul>li{
              font-size:14px;
            }
          }
        }
      }
      &>div.content{
        padding-left:10px;
        padding-right:10px;
        margin-top:140px;
        width:290px;

        div.tabPanel>div.header>ul>li>a{
          font-size:14px;
        }
        div.tabPanel>ul.tab>li{
          font-size:13px;
        }
        div.panel>div.panelHeader{
          font-size:16px;
        }
      }
      &>div.footer>div{
        font-size:12px;
      }
    }
  }
}

@media screen and (min-width:1280px){
  body{
    &>div.search>div{
      width:1180px;
    }
    &>div.wrap{
      &>div.title>div{
        width:1180px;
      }
      &>div.menu{
        &>ul{
          width:1180px;
          &>li{
            &>ul{
              &.w110>li{ width: 100%; text-align: center; padding-left: 0; }
            }
          }
        }
      }
      &>div.content{
        width:1150px;
      }
      &>div.footer{
        &>ul{
          width:894px;
          &>li{
            margin-right:18px;
          }
        }
      }
    }
    &>ul.sideBar{
      right:12px;
    }
  }
}

@media screen and (min-width:1366px){
  body{
    &>div.search>div{
      width:1260px;
    }
    &>div.wrap{
      &>div.title>div{
        width:1260px;
      }
      &>div.menu{
        &>ul{
          width:1200px;
        }
      }
      &>div.content{
        width:1230px;
      }
      &>div.footer{
        &>ul{
          width:942px;
          &>li{
            margin-right:30px;
          }
        }
      }
    }
    &>ul.sideBar{
      right:12px;
    }
  }
}

@media screen and (min-width:1440px){
  body{
    &>div.search>div{
      width:1340px;
    }
    &>div.wrap{
      &>div.title>div{
        width:1340px;
      }
      &>div.menu{
        &>ul{
          width:1280px;
        }
      }
      &>div.content{
        width:1310px;
      }
      &>div.footer{
        &>ul{
          width:982px;
          &>li{
            margin-right:40px;
          }
        }
      }
    }
  }
}