@import "mixin.scss";
@import "reset.scss";

.clearfix:after{
  content : "\200B";
  display : block;
  height : 0;
  clear : both;
}

.clearfix {
  *zoom : 1;
}

div.top-wrap{
  position: relative;
  width:1000px;
  margin:0 auto;
  padding:3px 0 1px;
  height:38px;
  line-height: 38px;
  //border:1px solid #ff0000;
  &>ul{
    &>li{
      float: left;
      position: relative;
      padding-left:32px;
      margin-right:12px;
      cursor: pointer;
      &.china>i{
        background: url("../../img/common/flag_china.png?base64");
      }
      &.english>i{
        background: url("../../img/common/flag_england.png?base64");
      }
      &.russia>i{
        background: url("../../img/common/flag_russia.png?base64");
      }
      &>i{
        position: absolute;
        display: block;
        width:20px;
        height:20px;
        left:4px;
        top:8px;
        background-size: 20px 20px !important;
      }
      &:hover{
        color:#2185c5;
        text-decoration: underline;
      }
    }
  }
  &>input{
    float: right;
    padding:6px 30px 6px 10px;
    width:200px;
    color:#2185c5;
    box-shadow: none;
    border-color:#b2e0fb;
    background-color: #f4fbff;
    @include transition(width 0.3s);
    &::-webkit-input-placeholder{
      font-style: italic;
    }
    &::-moz-placeholder{
      font-style: italic;
    }
    &:focus{
      width:280px;
    }
  }
  &>i{
    position: absolute;
    display: block;
    width:21px;
    height:21px;
    right:6px;
    top:11px;
    cursor: pointer;
    background: url("../../img/common/search.png?base64");
  }
}

div.menu-wrap{
  border-top:1px solid #f4fbff;
  border-bottom:1px solid #f4fbff;
  height:80px;
  background-color: #f59f3a;
  &>div{
    width:1000px;
    margin:0 auto;
    &>div{
      float: left;
      width:70px;
      height:70px;
      margin-top:5px;
      margin-right:10px;
      border:1px solid #fff;
      border-radius: 50%;
    }
    &>ul{
      float: left;
      width:800px;
      &>li{
        width:10.55%;
        float: left;
        font-size:16px;
        line-height:80px;
        height:80px;
        text-align: center;
        &>a{
          display: block;
          width:100%;
          height:100%;
          line-height: 80px;
          color:#fff;
          cursor: pointer;
          @include transition(background-color 0.3s);
        }
        &>ul{
          opacity: 0;
          @include scale(1,0);
          @include tOrigin(50% 0%);
          @include transition(all 0.4s);
          &>li{
            line-height: 40px;
            text-align: left;
            font-size:15px;
            white-space: nowrap;
            padding-left:12px;
            &>a{
              display: block;
              color:#fff;
            }
            &:hover{
              background-color: #be2e0a !important;
              cursor: pointer;
            }
          }
          &.center>li{
            padding-left:0;
            text-align: center;
          }
        }
        &.active{
          &>a{
            background-color: rgba(23,87,157,0.9);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E517579D,endColorstr=#E517579D);
          }
          &>ul{
            opacity: 1;
            @include scale(1,1);
            &>li{
              background-color: rgba(23,87,157,0.9);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E517579D,endColorstr=#E517579D);
            }
          }
        }
      }
    }
    &.compatible{
      &>ul{
        &>li{
          &>ul{
            display: none;
          }
          &.active{
            &>ul{
              display: block;
            }
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////760
@media screen and (max-width:1000px) {

}

@media screen and (max-width:749px) {

}

@media screen and (max-width:649px) {

}

@media screen and (max-width:479px) {

}

//////////////375
@media screen and (max-width:413px) {

}

//////////////360
@media screen and (max-width:374px) {

}

//////////////320
@media screen and (max-width:359px) {

}

@media screen and (min-width:1280px){

}

@media screen and (min-width:1366px){

}

@media screen and (min-width:1440px){

}