@import "mixin.scss";
@import "reset.scss";

.clearfix:after{
  content : "\200B";
  display : block;
  height : 0;
  clear : both;
}

.clearfix {
  *zoom : 1;
}

body{

}

/////////////////////////////////////////////760
@media screen and (max-width:1000px) {

}

@media screen and (max-width:749px) {

}

@media screen and (max-width:649px) {

}

@media screen and (max-width:479px) {

}

//////////////375
@media screen and (max-width:413px) {

}

//////////////360
@media screen and (max-width:374px) {

}

//////////////320
@media screen and (max-width:359px) {

}

@media screen and (min-width:1280px){

}

@media screen and (min-width:1366px){

}

@media screen and (min-width:1440px){

}